body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
figure {
    margin: 0;
}

/* General Styles */
.btn-std-dark {
    background: #1e120d;
    border: none;
    border-radius: 0;
    display: block;
    width: 100%;
    color: #fff;
    padding: 10px;
}
.btn-std-green {
    background: #a9c334;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{
	transition: all .3s ease;
	text-decoration: none;
}
.w-100{
	width: 100%;
}
.col-whi{
	color: #fff;
}
.col-gray{
	color: gray;
}
.title {
    font-size: 20px;
    margin: 15px 0 25px;
    text-align: center;
    padding-bottom: 20px;
    position: relative;
}
.title::after {
    content: "";
    width: 50px;
    height: 4px;
    background: #a9c334;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.dis-blo{
	display: block;
}
.btn-animated:hover{
	opacity: .8;
}

/* Login */
.content-login button.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 25px;
}
figure.login-brand {
    max-width: 150px;
    margin: 20px auto;
}
.login-modal{
	background: rgb(175,199,10);
	background: linear-gradient(183deg, rgba(175,199,10,1) 0%, rgba(159,184,112,1) 49%, rgba(60,128,36,1) 100%);
}
.content-login {
    border-radius: 0;
    border: none;
    box-shadow: 1px 3px 7px 0px rgba(0, 0, 0, 0.3);
}


/* Header */
header {
    background: #eaeaea;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    width: 100%;
    z-index: 101;
}
.content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.btn-menu-mobile{
	color: #3e8024;
	font-size: 28px;
}
.btn-menu-mobile:hover{
	color: #adc619;
}
.header-brand {
    max-width: 90px;
}
.menu-top{
	display: none;
}
.menu-top ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

/* Footer */
footer {
    background:#191411;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 15px 5px;
    height: 8vh;
}

/* Main Section */
section.home {
    background: url(../img/banner.jpg) no-repeat right center;
    background-size: cover;
    position: relative;
    padding: 50px 0;
}
section.home::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}
.box {
    background: #fff;
    position: relative;
    padding: 25px;
    box-shadow: 0px 1px 6px 0px black;
    max-width: 725px;
    margin: 35px auto;
}
.box-results{
	display: none;
}

/* Media Queries */
@media (min-width: 768px){
	figure.login-brand {
	    max-width: 190px;
	}
	.box-searcher .btn-std-green {
	    max-width: 250px;
	    margin: 0 auto !important;
	    display: block;
	}
}

@media (min-width: 992px){
	.btn-menu-mobile{
		display: none;
	}
	.menu-top{
		display: block;
	}
	.menu-top ul {
	    display: flex;
	}
	.menu-top ul li a {
	    color: #261b16;
	    display: block;
	    font-size: 14px;
	    padding: 5px 25px;
	    font-weight: 500;
	}
	.menu-top ul li a:hover{
		color: #3e8024;
		text-decoration: none;
	}
	.header-brand {
	    max-width: 120px;
	}
	header {
	    background: rgba(234, 234, 234, 0.648);
	}
	.title {
	    font-size: 32px;
	    margin: 15px 0 40px;
	}
}